@{
    //dynamic data = ViewBag.Data;
    //var bookInfo = ViewData["book"] as BookModel;
    //ViewData["Title"] = "Home";
}

@{
    var book = ViewData["Book"] as BookModel;
}
<section class="text-center py-5">
    <div class="container">
        <h1>Welcome To Bookstore @ViewData["CustomProperty"] </h1>
        <environment names="Development">
            <h3>Development</h3>
        </environment>
        <environment include="Development">
            <h3>Development</h3>
        </environment>
        <environment exclude="Development">
            <h3>Production</h3>
        </environment>
        <p class="lead text-muted">
            A good example of a paragraph contains a topic sentence, details and a conclusion. 'There are many different kinds of animals that live in China. Tigers and leopards are animals that live in China's forests in the north. In the jungles, monkeys swing in the trees and elephants walk through the brush.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        @*<h3 class="h3 text-center">Top Books</h3>*@
        <big>Top books</big>
        <p big>Top books using attributes</p>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="card-img-top bg-light" width="100%" height="225"></svg>
                    <div class="card-body">
                        <p class="card-text">This section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="card-img-top bg-light" width="100%" height="225"></svg>
                    <div class="card-body">
                        <p class="card-text">This section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <svg class="card-img-top bg-light" width="100%" height="225"></svg>
                    <div class="card-body">
                        <p class="card-text">This section will be used to display the short description of book</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">View Details</a>
                            </div>
                            <small class="text-muted">Author Name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            /*alert("Document is ready");*/
        })
    </script>
}
