@{
    ViewData["Title"] = "Home";
}

@{
    var book = ViewData["Book"] as BookModel;
}
<section class="text-center py-5">
    <div class="container">
        <p class="lead text-muted">
            A good example of a paragraph contains a topic sentence, details and a conclusion. 'There are many different kinds of animals that live in China. Tigers and leopards are animals that live in China's forests in the north. In the jungles, monkeys swing in the trees and elephants walk through the brush.
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search books</a>
        </p>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="h3">Top books</h3>

        <vc:top-books count="3"></vc:top-books>
    </div>
</div>